header {
    width: 700px;
    position: relative;
    padding: 70px;
}
.burger {
    width: 200px;
    display: block;
	margin: 0 auto;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
	width: 26px;
	height: 12px;
}
.span {
    display: block;
    height: 2px;
    width: 100%;
    background-color: #020202;
    margin-bottom: 2px;
    transition: 0.5s all;
}
.span:nth-child(1) {
    margin-bottom: 7px;
}
.burger-active > .span:nth-child(1) {
    transform: translateY(3px) rotate(-45deg);

    margin-bottom: -2px; /*т.к. у спана есть марджин боттом 2, то ставим -2, чтобы выравнять крестик*/
            /* &:nth-child(1) transform: translateY(3px) rotate(-45deg) //при нажатии на гамбургер палочка будет поворачиваться на 45 градусов
            &:nth-child(2) display: none &:nth-child(3) transform: translateY(3px) rotate(45deg) */
}
.burger-active>.span:nth-child(2) {
    margin-bottom: -2px;
    transform: translateY(3px) rotate(45deg);
}